[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools.git
[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/DiligentGraphics/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/DiligentGraphics/DiligentFX.git
[submodule "Experimental/ThirdParty/openvr"]
	path = Experimental/ThirdParty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "Experimental/ThirdParty/glfw"]
	path = Experimental/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
